<p>-------------------------</p>
<h6>Comment id</h6>
<p>{{comment._id}}</p>
<h6>Comment title</h6>
<p>{{comment.title}}</p>
<h6>Comment body</h6>
<p>{{comment.body}}</p>
<h6>Commenter id</h6>
<p>{{comment.commenter}}</p>
