<p>------------------------</p>
<h4>Comment title:</h4>
<p>{{comment.title}}</p>
<h4>Comment body:</h4>
<p>{{comment.body}}</p>
<h4>Comment id:</h4>
<p>{{comment.comment_id }}</p>
<h4>Movie id:</h4>
<p>{{comment.movie_id }}</p>
