<p>------------------------</p>
<p>Comment title:</p>
<h4>{{comment.title}}</h4>
<p>Comment body:</p>
<h4>{{comment.body}}</h4>
<p>Comment id:</p>
<h4>{{comment.comment_id }}</h4>
<p>Movie id:</p>
<h4>{{comment.movie_id }}</h4>
